datasets>=1.11.0
streamlit>=1.9.0
streamlit
pyrebase4
requests-toolbelt==0.10.1
langchain
openai
PyPDF2
faiss-cpu
urllib3==1.26.6
python-dotenv
tiktoken
psutil
faiss-cpu
torch
huggingface-hub
InstructorEmbedding
sentence-transformers
telebot
geopy
requests
numpy
pandas
googletrans==3.1.0a0
transformers>=4.11.3
pdfdocument